<form method="post" action="/articles/new">
  <label>Title:
    <input type="text" name="title" id="" required>
  </label>
  <label>Author:
    <input type="text" name="author" id="" required>
  </label>
   <label>Body:
    <textarea rows="10" cols="30" name="body" id="" required></textarea>
  </label>
  <input type="submit" value="Submit" required>
</form>
<br> {{> footer}}